.stack-top {
  width: 306px;
  background-color: rgba(255, 255, 255, 0.205);
  backdrop-filter: blur(0.5px);
  height: 306px;
}
.playBtn {
  height: 100px;
  width: 100px;
  font-size: 3em !important;
  font-weight: 500 !important;
  color: transparent;
}
.playBtn:disabled {
  opacity: 1;
}
.rst {
  width: 125px;
  font-weight: 500;
}
.rowoverlay {
  position: absolute;
}
.parent {
  justify-content: space-evenly;
}
